body {
  background: -webkit-linear-gradient(45deg, red, black, black, red);
}

.background-image {
  background-image: url(../image/1984909.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  background-color: hsl(84, 4%, 73%);
  opacity: 0.5;
  position: relative;
}

.content {
  background-color: white;
  opacity: 1;
}

.searchbox-find {
  outline: none;
  width: 90%;
}

.footer-links a:hover {
  color: red;
}

.c-text:hover {
  transform: scale(1.4);
  transition: 0.4s;
}

/* Slider  Styles */

.c-item {
  height: 480px;
}

.c-image {
  height: 100%;
  object-fit: cover;
}

.c-btn {
  background-color: #0a97b3;
  border-radius: 50%;
}

.c-button-left {
  margin-left: -15%;
}
.c-button-right {
  margin-right: -15%;
}

/* End of Slider Styles */
